@font-face {
font-family: "PT Sans";
src: local("PT Sans"),
url("fonts/ptsans.woff");
}

body {
	width: 1200px;
	margin: 0;
	padding: 0 40px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	background-color: #ffffff;
	z-index: 1;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/*---------------------------------header----------------------------*/

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	min-height: 50px;
  margin: 0;
  padding: 0;
  width: 1200px;

  list-style: none;
  background-color: #ffffff;
}

.main-nav {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.site-logo {
	width: 310px;
	margin: 0;
	height: 55px;
	padding: 0;
}

.site-nav-right {
	justify-content: flex-end;
}

.site-nav-left {
	justify-content: flex-start;
}

.site-nav a {
	width: auto;
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.site-nav a:hover {
	color: #81b3d2;
}

.site-nav a:active {
	color: #dbdbdb;
}

.site-nav .current-page {
	color: #766357;
}

.site-nav li {
	width: 240px;
	margin: 0;
	padding: 0;
	padding-top: 12px;
	padding-bottom: 15px;
}

.site-nav .current {
	color: #766357;
}

/*----------------------main---------------------*/

.background-image {
	width: 1200px;
	height: 510px;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;

	background-color: #81b3d2;
}

.features-header-wrapper {
	display: block;
	margin: 0;
	padding: 0;
}

.features-header {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 60px;
	padding-bottom: 38px;
	padding-left: 300px;
	padding-right: 300px;

	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;

  background-color: #ffffff;
}

.features-header h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 26px;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	width: 1200px;
	margin: 0;
	padding: 0;
}

.features-wrapper img {
	background: #FD7C6E;
}

.feature-list {
	width: 400px;
  margin: 0;
  padding: 0;

	color: #fff;
	list-style: none;

  background-color: #81b3d2;
}

.feature-list li {
	padding-top: 27px;
	padding-left:50px;
	padding-right: 50px;
	padding-bottom: 45px;
}

.feature-list h3 {
	padding-left: 60px;
	padding-right: 60px;

	font-size: 21px;
	line-height: 21px;
}

.feature-list p {
	position: relative;
	margin-top: 23px;

	font-size: 14px;
	line-height: 21px;
}

.dashes::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 126px;
	width: 8px;
	height: 1px;
	margin: 0;
	padding: 0;

	background: #ffffff;
}

.dashes::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 126px;
	width: 8px;
	height: 1px;
	margin: 0;
	padding: 0;

	background: #ffffff;
}

.devils-bridge h3 {
	margin-top: 17px;
}

.devils-bridge p {
	margin-top: 22px;
}

.feature-list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	flex-wrap: wrap;
  margin: 0;
  padding: 0;

  color: #000000;
	list-style: none;

	background-color: #ffffff;
}

.feature-list-block {
	position: relative;
	margin: 0;
	padding: 0;
}

.feature-list-block div {
	width: 300px;
	margin: 0;
	padding: 0px 50px;
	padding-top: 166px;
	padding-bottom: 70px;

	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.feature-list-block h3 {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-bottom: 13px;

	font-size: 12px;
	line-height: 15px;
	vertical-align: middle;
}

.house-icon::after {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	top: 56px;
	left: 160px;

	background: url("../img/icon-1.svg") no-repeat;
}

.food-icon::after {
	content: "";
	position: absolute;
	width: 74px;
	height: 70px;
	top: 56px;
	left: 160px;

	background: url("../img/icon-3.svg") no-repeat;
}

.souvenir-icon::after {
	content: "";
	position: absolute;
	width: 64px;
	height: 76px;
	top: 53px;
	left: 168px;

	background: url("../img/icon-2.svg") no-repeat;
}

.feature-list-icons h3 {
  font-size: 21px;
}

.feature-list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	flex-wrap: wrap;
	width: 1200px;
  margin: 0;
  padding: 0;

  color: #000000;
	list-style: none;

  background-color: #eeeeee;
}

.feature-list-bottom li {
	width: 400px;
	margin: 0;
	padding: 0px;
}

.feature-list-bottom h3 {
	display: inline-block;
	margin: 0;
	padding: 0 120px;
	padding-top:  45px ;

	font-size: 21px;
	line-height: 22px;
	vertical-align: middle;
}

.feature-list-bottom p {
	margin: 0;
	padding: 0 60px;
	padding-top: 20px;

	font-size: 14px;
	line-height: 20px;
}

.feature-list-bottom p:last-child {
	padding-bottom: 60px;
}

.appointment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	width: 1200px;
  margin: 0;
  padding: 0;

	text-align: center;
	vertical-align: middle;
  color: #000000;

	background-color: #ffffff;
}

.appointment-wrapper div {
	margin: 0;
	padding: 0px 300px;
	padding-bottom: 130px;
}

.appointment-wrapper h2 {
	margin: 0;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 23px;

	font-size: 30px;
	line-height: 1.3em;
}

.appointment-wrapper p {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
}

.button-show-search {
	display: inline-block;
	position: absolute;
	bottom: 0;
  left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 30px 116px;

  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #766357;
  border: none;

	cursor: pointer;
}

.button-show-search:hover {
	background-color: #604e43;
}

.button-show-search:focus {
	color: #857871;

	background-color: #503e33;
}

.map-container {
	position: relative;
	width: 1200px;
	height: 475px;
	margin: 0;
	padding: 0;

  z-index: 2;

  border: none;
}

.map-container img {
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;

	background: #cbdda9;
}


/*-------------------------footer------------------------------------------------*/

.main-footer {
	position: relative;
	height: 70px;
  margin: 0;
  padding: 24px 0;
	z-index: 3;

	background: rgba(255, 255, 255, 0.9);
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer p {
	width: 200px;
	height: 70px;
	margin: auto 0;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 225px;
	padding: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: 600;
}

.footer-social {
	width: 155px;

	text-align: center;
}

.main-footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 150px;
	margin: 0;
	margin-top: 11px;
	margin-left: 0px;
	padding: 0;

	list-style: none;
}

.footer-social .social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 46px;
	height: 47px;

	background-color: #81b3d2;
	fill: #ffffff;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active,
.social-button:active path {
	background: #5496bd;
	fill: #88b6d1;
}

.copyright-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 200px;
	height: 70px;
	margin: 0;
	margin-right: 70px;
	margin-left: 222px;
	padding: 0;

	font-size: 14px;
	line-height: 26px;
}

.copyright-wrapper .copyright-button {
	-ms-flex-item-align: center;
	    align-self: center;
	width: 115px;
	height: 40px;
	margin: 0;
	margin-left: 7px;
	padding: 0;
}

.copyright-button:hover path {
	fill: #81b3d2;
}

.copyright-button:active path {
	fill: #bdbbbc;
}

/*--------------------------------------modal-form----------------------------------*/

@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-off {
	display: none;
}

.modal-search {
  position: absolute;
  left: 357px;
  top: 2165px;
  width: 566px;
  height: 394px;
	margin: 0;
	padding: 0;

	font-weight: 600;

	background-color: #ffffff;
  z-index: 3;
	-webkit-box-shadow: 0 2px 15px 0 rgba(0, 1, 1, 0.3);
	        box-shadow: 0 2px 15px 0 rgba(0, 1, 1, 0.3);

	animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-form-container {
	position: relative;
	display: inline-block;
	width: 458px;
	height: 300px;
	margin: 0 auto;
	margin-top: 41px;
	padding: 0;

	vertical-align: middle;
}


.modal-search-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 66px;
	margin: 0;
	padding: 0;
}

.appointment-form input[type="text"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  width: 345px;
	margin-left: auto;
  padding: 5px 13px;
  padding-right: 40px;

	outline: none;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 600;
  color: #000000;
  text-transform: uppercase;

	border: none;
	background-color: #f2f2f2;
}

.appointment-form input:hover {
	background-color: #ebebeb;
}

.appointment-form input:focus, .appointment-form input:active {
	background-color: #ffffff;

	-webkit-box-shadow: inset 0 0 0 2px #ebebeb;
	        box-shadow: inset 0 0 0 2px #ebebeb;
}


.calendar-button {
	position: absolute;
	width: 21px;
	height: 22px;
	margin: 0;
	padding: 0;

	border: none;
	background-color: transparent;

	cursor: pointer;
}

.calendar-button-in {
	top: 22px;
	right: 15px;
}

.calendar-button-out {
	top: 88px;
	right: 15px;
}

.calendar-button svg:hover {
	fill: #000;
}



.calendar-button svg:focus {
	fill: #81b3d2;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.calendar-button svg:active {
	fill: #81b3d2;
}

.people-count-wrapper {
	margin-top: 2px;
}

.people-count-wrapper label {
	margin-top: 1px;
	margin-right: auto;
}

.people-count-wrapper .children-label {
	margin-left: auto;
	margin-right: auto;
}

.people-count-wrapper input[type="text"] {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;

	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	background-color: #f2f2f2;
	border: none;
}

.people-count-wrapper input[type="text"]:hover {
	background: #ebebeb;
}

/*.people-count-wrapper input[type="text"]:active,
.people-count-wrapper input[type="text"]:focus {
	background-color: #ffffff;
	outline: none;
	box-shadow: inset 0 0 0 2px #ebebeb;
}*/

.modal-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 38px;
	height: 38px;
	border: none;
	background-color: #f2f2f2;
	font-size: 0px;

	cursor: pointer;
}

.modal-btn:hover {
	background: #ebebeb;
}

/*.modal-btn:active {
	background-color: #ffffff;
	outline: none;
	box-shadow: inset 0 0 0 2px #ebebeb;
}*/

.modal-btn::before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 2px;
	margin: 0;
	padding: 0;

	vertical-align: middle;

	background: #bdbbbc;
}

.plus-btn::after {
	display: inline-block;
	position: absolute;
	content: "";
	width: 10px;
	height: 2px;
	margin: 0;
	padding: 0;

	vertical-align: middle;

	background: #bdbbbc;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.modal-btn:hover::before,
.plus-btn:hover::after  {
  background: #000000;
}

.modal-btn:active::before,
.plus-btn:active::after  {
  background: #81b3d2;
}

.button-submit-search {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 458px;
  height: 58px;

	color: #ffffff;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;

	background-color: #81b3d2;
	border: none;

	cursor: pointer;
}

.button-submit-search:hover {
	background-color: #669ec0;
}

.button-submit-search:focus {
	color: #88b6d1;

	background-color: #5496bd;
}

/*------------------------------catalog-page------------------------------------------*/

.filter-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 1200px;
	min-height: 220px;
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;

	background-image: url("../img/filter-bg.jpg");
	background-position: 50% 20%;
	background-repeat: no-repeat;
	background-color: #81b3d2;
}

.filter-section legend {
	margin: 0;
	padding: 0;
	padding-top: 3px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
}

.filter-section fieldset {
	padding: 0;
	margin-left: 60px;
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 10px;
	padding-top: 13px;
	padding-left: 10px;

	border: none;
}

.filter-section ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-section li {
	margin-top: 10px;
	margin-bottom: 14px;
}

.filter-container input[type="checkbox"] {
	/*display: none;*/
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.filter-container input[type="checkbox"] + label {
	font-size: 14px;
	line-height: 21px;
	color: #fff;

	cursor: pointer;
}

.filter-container input[type="checkbox"] + label::before {
	display: inline-block;
	content: "";
	width: 27px;
	height: 23px;
	margin: 0;
	margin-right: 10px;
	padding: 0;

	vertical-align: middle;

	background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-container input:checked + label::before {
	background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-container input[type="checkbox"]:focus + label {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

/*-----------------filter-range----------------------------------------*/

.filter-section .filter-range {
	width: 315px;
	margin: 0;
	margin-top: 22px;
	margin-left: 295px;
	margin-right: auto;

	color: #fff;
	-webkit-transform: uppercase;
	    -ms-transform: uppercase;
	        transform: uppercase;
}

.filter-range legend {
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 33px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	background: #ffffff;
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Arial", sans-serif;

	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #1c4f80;
}

.filter-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.filter-button:hover {
	color: #000000;

	background-color: #ffffff;
}

/*-------------------------------search-result------------------------------------------*/

.search-result-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding: 5px 0;
  padding-bottom:	9px;

	background: #fff;
}

.sort-item {
	margin-right: 45px;
	margin-left: 70px;

	font-size: 21px;
	line-height: 26px;
}

.search-result-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-right: auto;
	padding: 0;

	list-style: none;
}

.search-result-filter span {
	margin-right: 45px;

	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-weight: 600;
}


.search-result-filter  a {
	margin-right: 30px;

	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.302);

	border-bottom: 1px dashed #81b3d2;
}

.search-result-filter a:hover,
.search-result-filter a:active,
.search-result-filter .active-link,
.search-result-filter .current-filter {
	color: #81b3d2;
	border: none;
}

.search-filter-arrows {
	display: inline-block;
	margin: 0;
	margin-right: 73px;
	padding: 0;

	vertical-align: middle;

	cursor: pointer;
}

.arrows:first-child {
	margin: 0;
	margin-right: 9px;
	padding: 0;
}

.arrows:hover path {
	fill: #000000;
}

.arrows:active path,
.current-arrow path {
	fill: #81b3d2;
}

/*---------------------------------------catalog-list---------------------------------------------*/

.catalog-list-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1200px;
	padding: 30px 0;

	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.302);
}

.catalog-list-wrapper:last-child {
	padding-bottom: 29px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.302);
}

.image-wrapper {
	width: 135px;
	height: 90px;
	margin: 0;
	margin-left: 71px;
}

.info-wrapper {
	width: 800px;
	min-height: 90px;
	margin: 0;
	margin-left: 29px;
	padding: 0 7px;
}

.info-wrapper h3 {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	margin-top: -5px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 600;
	text-align: left;

	cursor: pointer;
}

.info-wrapper h3:hover {
	color: #81b3d2;
}

.info-wrapper h3:active {
	color: rgba(0, 0, 0, 0.302);
}

.info-wrapper-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
}

.info-wrapper-text span {
	width: 110px;
	margin-right: 5px;

	font-size: 14px;
	line-height: 21px;
	text-align: left;
}


.info-wrapper-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.info-wrapper-btn a {
	margin-right: 7px;
}

.booking {
	width: 140px;
	margin: 0;
	padding: 0;
}

.catalog-btn {
	margin: 0;
	padding: 3px 10px;

	color: #ffffff;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;

	background: #81b3d2;
}

.catalog-btn:hover {
	background: #669ec0;
}

.catalog-btn:active {
	color: #88b6d1;

	background: #5496bd;
}

.booking-btn {
	background: #766357;
}

.booking-btn:hover {
	background: #604e43;
}

.booking-btn:active {
	color: #857871;

	background: #503e33;
}

/*--------------------------rating-wrapper--------------------------------------------------*/

.rating-wrapper {
	position: relative;
	width: 115px;
	height: 90px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: 72px;
}

.rating-wrapper::before {
	position: absolute;
	content: "";
	width: 72px;
	height: 19px;
	margin: 0;
	padding: 0;
	right: 0;

	background-image: url("../img/star.svg");
	background-repeat:repeat-x;
}

.three-stars::before {
	width: 55px;
}

.two-stars::before {
	width: 35px;
}

.rating-wrapper span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 110px;
	margin: 0;
	padding: 2px 0;

	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	background: #f2f2f2;
}
