body {
	margin: 0;
	padding: 0;
	margin-left: 40px;
	margin-right: 40px;
	width: 1200px;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;

	background-color: #ffffff;
	/*background-image: url("../img/sedona-index-1200.jpg");*/
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.site-nav {
  margin: 0;
  padding: 0;

  width: 1200px;

  display: flex;
  justify-content: space-between;

  list-style: none;
  background-color: #ffffff;
}

.site-nav a {
	margin: 0;
	padding: 0;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
}

.site-nav a:hover {
	color: #81b3d2;
}

.site-nav a:active {
	color: #dbdbdb;
}

.site-nav li {
	margin: 0;
	padding: 0;
  display: block;
  width: 238px;
  height: 42px;
  padding-top: 14px;
}

.site-nav .current {
	color: #766357;
}

.site-nav .site-logo {
  padding: 0;
  z-index: 1;
}

.features-header {
  height: 174px;
  padding-top: 40px;
  background-color: #ffffff;
}

.features-header p {
  margin-top: 26px;
}

.features-wrapper {
  display: flex;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 254px;
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-list li {
  padding: 20px 60px;
  display: block;
  vertical-align: middle;
}

.feature-list h3 {
  font-size: 21px;
}

.feature-list-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 76px;
  width: 1200px;
  height: 254px;
  background-color: #ffffff;
  color: #000000;
}

.feature-list-icons li {
  padding: 60px 60px;
  width: 400px;
  height: 330px;
  vertical-align: middle;
}

.feature-list-icons h3 {
  font-size: 21px;
}

.feature-list-bottom {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 254px;
  background-color: #eeeeee;
  color: #000000;
}

.feature-list-bottom li {
  padding: 60px 60px;
  width: 400px;
  height: 330px;
  vertical-align: middle;
}

.appointment-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 295px;
  background-color: #ffffff;
  color: #000000;
}

.appointment-wrapper-section {
  margin: auto;
  width: 434px;
  height: 96px;
  text-align: center;
  vertical-align: middle;
}

.button-show-search {
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #766357;
  border: none;
}

.button-show-search:hover {
	background-color: #604e43;
}

.button-show-search:focus {
	color: #857871;

	background-color: #503e33;
}

.main-footer {
  margin: 0;
  padding: 0;
  height: 100px;
}

.footer-container {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}

.footer-hashtag {
  width: 165px;
  height: 60px;
  margin-right: 80px;
  margin-left: 100px;

  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  width: 400px;
  height: 60px;
  margin-right: 80px;

  color: #000000;
  font-size: 14px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-social a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
	border: none;
}

.footer-social a:hover {
	background-color: #669ec0;
}

.footer-social a:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

.footer-copyright {
  width: 240px;
  height: 60px;
  margin-right: 100px;
}

.footer-copyright a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
	vertical-align: top;
}

.footer-copyright a:hover {
	color: #ffffff;
	background-color: #81b3d2;
}

.footer-copyright a:active {
	color: #bdbbbc;
	background-color: #ffffff;
}

/*modal-form starts here*/

.modal-search {
  position: absolute;
  left: 356px;
  top: 2169px;
  width: 566px;
  height: 348px;
  border: 1px solid transparent;
  background-color: #ffffff;
  z-index: 4;
}

.appointment-form input:hover {
	background-color: #ebebeb;
}

.appointment-form input:focus {
	background-color: #ffffff;

	outline: none;
	border: 2px solid #ebebeb;
}

.appointment-form label {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.appointment-form {
  display: flex;
	width: 470px;
	height: 290px;
  margin: auto;
  margin-top: 50px;

	background-color: #ffffff;
}

.data-search-wrapper {
  display: flex;
  flex-direction: column;
}

.appointment-form-date {
	width: 346px;
	height: 38px;

	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;

	background-color: #f2f2f2;
	border: none;
}

.people-count {
	width: 114px;
	height: 38px;

	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	background-color: #f2f2f2;
	border: none;
}

.button-submit-search {
	width: 458px;
  height: 58px;

	color: #ffffff;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;

	background-color: #81b3d2;
	border: none;
}

.button-submit-search:hover {
	background-color: #669ec0;
}

.button-submit-search:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

/*------------------------------catalog-page------------------------------------------*/

.filter-section {
	display: flex;
	margin: 0;
	padding: 0;
	width: 1200px;
  height: 220px;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;

	background-image: url("../img/filter-bg.jpg");
	background-position: 50% 20%;
	background-repeat: no-repeat;
	background-color: #81b3d2;
}

.filter-section legend {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 40px;
}

.filter-section ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.filter-section li {
	margin-bottom: 25px;
}

.filter-section fieldset {
	margin: 0;
	padding: 0;
	width: 150px;
	height: 150px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 55px;
	margin-right: 20px;

	border: none;
}

.filter-section .filter-range {
	margin-top: 10px;
	width: 330px;
	margin-left: auto;
	margin-right: 70px;
}

.filter-range legend {
	margin-bottom: 9px;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;

	width: 2px;
	height: 22px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: #ffffff;
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #1c4f80;
}


.filter-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.filter-button:hover {
	color: #000000;

	background-color: #ffffff;
}

.search-result-wrapper {
	display: flex;
	align-items: baseline;
}

.search-result-filter {
	display: flex;

	margin: 0;
	padding: 0;
	margin-right: auto;

	list-style: none;
}

.search-result-filter  a {
	margin-right: 45px;

	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #b1b1b1;

	color: rgba(0, 0, 0, 0.302);
	border-bottom: 1px dashed #81b3d2;
}

.search-result-filter a:hover,
.search-result-filter a:active,
.search-result-filter .active-link {
	color: #81b3d2;
	border: none;
}

.search-result-filter span {
	margin-right: 45px;

	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.search-result-wrapper h3 {
	font-size: 21px;
	line-height: 26px;
	margin-right: 45px;
	margin-left: 70px;
}

.arrow {
  display: inline-block;
}

.search-filter-arrows {
	margin-right: 70px
}

path:hover {
	fill: #000000;
}

path:active {
	fill: #81b3d2;
}
